body {
  background: #888;
}

input[type='number'] {
    width: 6rem;
}

.left {
    border-left: 0.125rem solid #33C3F0;
}

.row {
    border: 0.125rem solid #33C3F0;
}

label {
    font-size: 1.25rem;
    color: red;
    font-weight: normal;
    display: inline;
    margin-right: 5%;
}

.data {
    font-size: 1.25rem;
    color: darkblue;
    font-weight: normal;
    display: inline;
}