body {
  background: #888;
}

input[type='number'] {
    width: 3.3rem;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

input[type=time]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

.left {
    border-left: 0.125rem solid #33C3F0;
}

.row {
    border: 0.125rem solid #33C3F0;
}

label {
    font-size: 1.25rem;
    color: red;
    font-weight: normal;
    display: inline;
}

.data {
    font-size: 1.25rem;
    color: darkblue;
    font-weight: normal;
    display: inline;
}

.lapList {
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}