body {
  background-color: grey;
}

input[type='number'] {
  width: 3.3rem;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

input[type='date'] {
  background-color: lavender;
}

label {
  font-size: 1.25rem;
  color: red;
  font-weight: normal;
  display: inline;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  font-size: 11px;
  background-color: lightsteelblue;
}

.columns {
    margin-left: 0;
}

.week-heading {
  font-size: 1.5rem;
  color: darkblue;
  font-weight: normal;
  display: inline;
  letter-spacing: -.05rem;
}

.bkg-week {
  background: grey;
}

.bkg-day {
  background: darkgrey;
}

.bkg-session {
  background: silver;
}

.bkg-lap-odd {
  background: lightgrey;
}

.bkg-lap-even {
  background: #E6E6E6;
}

.row{
  background: lightgrey;
}

.data {
  font-size: 1.25rem;
  color: darkblue;
  font-weight: normal;
  display: inline;
}

.time-entry {
  width: 6.7rem;
}

.lapList {
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sessionForm {
  height: 0%;
}

@media (min-width: 550px) {
  .one.wide.column { width: 10%; }
  .one.narrow.column { width: 5%; }
}

.modal-popup{
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}

.modal-popup:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-popup>div {
  width: 400px;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-popup header {
  font-weight: bold;
}

.modal-popup h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

